<html>
    <head>
        <title>Upload News Media</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        {{ form }}
        <input type="submit"/>
        </form>
    </body>
</html>
